<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AdactinHotelTestSuite">
    <test name="LoginAndBookingTests">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.BookingTest" />
        </classes>
    </test>
</suite>